<div class="form-container">
    <form>

        <div class="form-header">
            <h1>Log In</h1>
            <p>log in to explore the world!</p>
        </div>

        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="text" name="email" id="email">

        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password">


        <div class="btn-div">
            <input class="btn" type="submit" value="Log In">
        </div>

        <div class="form-footer">
            <p>Not a member?</p>
            <a routerLink="/sign-up">Sign Up</a>
        </div>

    </form>

    
</div>
