<div class="form-container">
    <form>

        <div class="form-header">
            <h1>Sign Up</h1>
            <p>Join with us to explore the world!</p>
        </div>

        <label class="form-label" for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name">

        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="text" name="email" id="email">

        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password">

        <label class="form-label" for="confirm-password">Confirm Password</label>
        <input class="form-control" type="password" name="confirm-password" id="confirm-password">

        <div class="btn-div">
            <input class="btn" type="submit" value="Sign Up">
        </div>

        <div class="form-footer">
            <p>Alrady member?</p>
            <a routerLink="/">Log In</a>
        </div>

    </form>

    
</div>
