<div class="profile-container">

    <div class="colunm-1">
        <div class="card-style identity-section">
            <img class="profile-image" src="assets/images/user.png" alt="profile-image">
            <h2>Kavindu Sanjula</h2>
        </div>
    
        <div class="card-style friend-section">
            <app-friend-card></app-friend-card>
            <app-friend-card></app-friend-card>
            <app-friend-card></app-friend-card>
            <app-friend-card></app-friend-card>
        </div>
    </div>

    <div class="colunm-2">
        <div class="card-style info-section">
            <div class="title-bar">
                <a>Info</a>
                <a>Photos</a>
                <a>Settings</a>
            </div>
    
            <div class="info">
                <label for="Name">Name</label>
                <p>Kavindu Sanjula</p>
                <label for="email">email</label>
                <p>kavindusanjula@mail.com</p>
                <label for="dob">Date of Birth</label>
                <p>24<sup>th</sup> April 2001</p>
            </div>
    
                <button class="btn">Edit Profiel</button>
        </div>
    </div>
    
    

</div>